<html>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<style>
.card {
    width: 400px;
    height: 200px;
    display: inline-block;
    background-color: #fafafa;
    box-shadow: #ddd 2px 2px 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 8px;
    position: relative;
}
.title {
    margin-bottom: 10px;
}
body {
  font-family: Open Sans;   
}
.notification {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #f22;
  text-align: center;
  cursor: pointer;
}
.notification_info {
    display: none
}
.notification:hover .notification_info {
    display: block;
    position: absolute;
    opacity: 1.0;
    background: #fafafa;
    border: 1px solid #ccc;
    top: 10px;
    right: 0px;
    width: 100px;
    height: auto;
}
.icon.purchased {
    opacity: 1.0;
    background: yellow;
}
.icon_container {
       text-align: center;
}
.icon {
    display: inline-block;
    margin-right: 3px;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    border-radius: 40px;
    padding-top: 10px;
    opacity: 0.5;
    text-align: center;
    vertical-align: middle;
    background: white;
    cursor: pointer;
}

.icon img {
    width: 60px;
    height: 60px; 
}
.person {
    background-color: #fafafa;
    box-shadow: #ddd 2px 2px 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

body {
  margin: 0px;
}

.avatar {
  height: 100%;
  display: inline-block;
}
.avatar img{ 
  height: 100%;
}
.facts {
  padding: 20px;
  height: 100%;
  display: inline-block;
}
#donate {
  float:right;
  margin-right: 30;
}
#donate-button{
  width: 200px;
  height: 60px;
  font-size: 40px;
  background-color: #93C39D;
}
.avatar_bubble {
        position: absolute;
        top: 0px;
        left: 250px;
        border-radius: 4px;
}
.bubble {
       width: 150px;
       height: 150px;
}
.want {
       position: relative;
       top: -50px;
       left: -120px;
       width: 80px;
       height: 80px;
}
.icon:hover {
  opacity: 1.0;
}
.broken {
  background: red;
}
.affordable {
  background: white;
  opacity: 1.0;
}
.justpurchased {
    -webkit-transform: scale(5.0);
   -webkit-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: linear;
    opacity: 0;
    z-index: 10;
}
</style>
<script>
var purchasedItems = <%- items %>;

$(document).ready(function() {
console.log("ready!");
$(".icon").each(function(idx) {
  console.log("index:" + idx);
//  if ($(this).hasClass("affordable")) {
  $(this).click(function() {
    console.log("click:" + idx);
    purchaseItem(this, $(this).attr('data-id'));
  });
//  }
});

$(".icon").each(function(idx) {
  if (purchasedItems[$(this).attr('data-id')]) {
    $(this).addClass("purchased");
  }
});

$(".icon img").click(function(){console.log("c");});
})

var purchaseItem = function(elem, itemId) {
  if ($(elem).hasClass('purchased')) { return; }
  $(elem).addClass('purchased');
  var xhr = new XMLHttpRequest();
  
  xhr.open("POST", "/penpal/purchaseItem");
  savings = savings - parseInt($(elem).attr('data-cost'));
  document.getElementsByTagName('audio')[0].play();
  $('span.savings').html(savings * 25 + ' rupesos ($' + savings + ')');
  $(elem).addClass('justpurchased');
  window.setTimeout(function()  { $(elem).removeClass('justpurchased'); }, 1000);
  // TODO(saurya): Re-mark everything that isn't affordable.
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
    number: '<%= number %>',
    itemId: itemId
  }));
}

var sendDonation = function() {
  console.log("donate!");
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/penpal/donate");
  xhr.onreadystatechange = function() {
    var newUrl = JSON.parse(xhr.responseText)["redirectUrl"];
    console.log("redirecting:" + newUrl);
    window.location.href = newUrl;
  }
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
    number: '<%= number %>'
  }));
}

var savings = <%= savings %>;

</script>

<body>
<div class="person">
  <div class="avatar"><img src="/penpal/res/icon_11856.png">
  </div>
  <div class="avatar_bubble"><img class="bubble" src="/penpal/res/speech/icon.png"><img class="want" src="/penpal/res/housing/camp/icon.png"></div>
  <div class="facts">
    <div class="name"><b>Name</b>: <%= name %></div>
    <div class="occupation"><b>Occupation</b>: <%= occupation %></div>
    <div class="costofliving"><b>Cost of living</b>: $<%= costOfLiving %>/day</div>
    <div class="income"><b>Income</b>: $<%= income %>/day</div>
    <div class="savings"><b>Savings</b>: <span class="savings">$<%= savings %></span></div>
  </div>

  <div id="donate">
  <button id="donate-button" onclick="sendDonation()">Donate</button>
  </div>
</div>

<div class="card">
    <div class="title">Transportation</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="BUS_PASS"><img src="/penpal/res/transportation/busspass/icon.png"></div>
      <div class="icon" data-cost="5" data-id="BIKE"><img src="/penpal/res/transportation/bicycle/icon.png"></div>
      <div class="icon" data-cost="5" data-id="SCOOTER"><img src="/penpal/res/transportation/scooter/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Housing</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="TENT"><img src="/penpal/res/housing/camp/icon.png"></div>
      <div class="icon" data-cost="5" data-id="ROOM"><img src="/penpal/res/housing/room/icon.png"></div>
      <div class="icon" data-cost="5" data-id="APARTMENT"><img src="/penpal/res/housing/apartment/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Entertainment</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="RADIO"><img src="/penpal/res/entertainment/radio/icon.png"></div>
      <div class="icon" data-cost="5" data-id="TV"><img src="/penpal/res/entertainment/tv/icon.png"></div>
      <div class="icon" data-cost="5" data-id="COMPUTER"><img src="/penpal/res/entertainment/computer/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Water and Sanitation</div>
    <div class="icon_container">
    <div class="icon" data-cost="8" data-id="WATER_BOTTLE"><img src="/penpal/res/water/bottle/icon.png"></div>
    <div class="icon" data-cost="5" data-id="WATER_BOILER"><img src="/penpal/res/water/hotwater/icon.png"></div>
    <div class="icon" data-cost="5" data-id="TOILET"><img src="/penpal/res/water/toilet/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Health</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="DOCTOR"><img src="/penpal/res/medical/doctor/icon.png"></div>
      <div class="icon" data-cost="5" data-id="INSURANCE"><img src="/penpal/res/medical/insurance/icon.png"></div>
      <div class="icon" data-cost="5" data-id="PILLS"><img src="/penpal/res/medical/pills/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Education</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="STATIONERY"><img src="/penpal/res/education/stationery/icon.png"></div>
      <div class="icon" data-cost="5" data-id="BOOKS"><img src="/penpal/res/education/books/icon.png"></div>
      <div class="icon" data-cost="5" data-id="TUITION"><img src="/penpal/res/education/tuition/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Clothing</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="SHIRT"><img src="/penpal/res/clothin/summer/icon.png"></div>
      <div class="icon" data-cost="5" data-id="COAT"><img src="/penpal/res/clothin/winter/icon.png"></div>
      <div class="icon" data-cost="5" data-id="RAIN"><img src="/penpal/res/clothin/rain/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Toys</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="FIGURE"><img src="/penpal/res/toys/figure/icon.png"></div>
      <div class="icon" data-cost="5" data-id="LEGO"><img src="/penpal/res/toys/lego/icon.png"></div>
      <div class="icon" data-cost="5" data-id="RC"><img src="/penpal/res/toys/rc/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<div class="card">
    <div class="title">Work</div>
    <div class="icon_container">
      <div class="icon" data-cost="5" data-id="CHISEL"><img src="/penpal/res/work/chisel/icon.png"></div>
      <div class="icon" data-cost="5" data-id="DRILL"><img src="/penpal/res/work/drill/icon.png"></div>
      <div class="icon" data-cost="5" data-id="CHICKEN_FEED"><img src="/penpal/res/work/feed/icon.png"></div>
    </div>
    <div class="description"></div>
</div>
<audio src="res/sounds/buy.wav"></audio>
</html>
